.btn {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: .5rem 1.2rem;
    display: inline-block;
    border-radius: 5px;
}

.btn--orange {
    background-color: orange;
}