.header {

    background-image: linear-gradient(rgba(255, 115, 22, 0.699),rgba(211, 120, 1, 0.733)),url(../images/shopping-background.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

    &__content {

        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;

        @include for-phone-only {
            transform: translateY(0);

        }
    }

    &__title {

        color: $white;;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 1px 1px 0 rgb(201, 197, 197);
        font-size: 2rem;

    }

    &__description {
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }


}

