.header {


    &__box {
        width: 100%;
        background-color: $gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .3rem 4rem;
        box-sizing: border-box;



        
        @include for-phone-only {
            
            flex-direction: column;
            padding: 2rem 0;
        }

        @include for-tab-only {
            justify-content: space-between;
            padding: .3rem 1rem;
        }
        
          
    }


        



    &__input {
        max-width: 100%;
        border: none;
        border-radius: 10px;
        padding: .7rem 6rem;
        box-shadow: 3px 3px 0 $gray;
        font-family: 'Roboto', sans-serif;

        @include for-phone-only {
            margin: 1rem 0;
           
        }

        @include for-tab-only {
            padding: .7rem 2rem;
            justify-content: space-between;
        }
    }

    &__icon {

        color: $light-black;
        font-size: 2rem;
        margin-right: 1rem;
    }


    &__user-nav {
        display: flex;
        align-items: center;
        list-style: none;
       
    }

    &__user-item {
        margin-right: 1.3rem;
    }


    &__user-link {
        text-decoration: none;
        color: $light-black;
        text-transform: uppercase;
        
        
    }

}