.header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.596)),url(../images/shopping-background.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

    &__content {

        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
    }

    &__title {

        color: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-shadow: 1px 1px 0 rgb(201, 197, 197);
        font-size: 2rem;

    }

    &__description {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }


}

