body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 3rem;
  -webkit-box-shadow: 1px 1px 6px #dfdfdf;
          box-shadow: 1px 1px 6px #dfdfdf;
  background-color: white;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav__item {
  margin-right: 1.3rem;
}

.nav__link {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
}

.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
}

.header__box {
  width: 100%;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__input {
  min-width: 30rem;
  border: none;
  border-radius: 10px;
  padding: .7rem 2rem;
  -webkit-box-shadow: 3px 3px 0 #dfdfdf;
          box-shadow: 3px 3px 0 #dfdfdf;
  font-family: 'Roboto', sans-serif;
}

.header__icon {
  color: #222;
  font-size: 2rem;
  margin-right: 1rem;
}

.header__user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__user-item {
  margin-right: 1.3rem;
}

.header__user-link {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.596))), url(../images/shopping-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.596)), url(../images/shopping-background.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.header__content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.header__title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 1px 1px 0 #c9c5c5;
  font-size: 2rem;
}

.header__description {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 2.4rem;
}

.btn {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: .5rem 1.2rem;
  display: inline-block;
  border-radius: 5px;
}

.btn--large-padding {
  padding: 1.2rem;
}

.btn--orange {
  background-color: orange;
}

.btn--margin-top {
  margin-top: 1.2rem;
}

.btn--black {
  background-color: #000;
  color: #fff;
}

.section {
  padding: 8rem 4rem;
}

.reviews {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 1px 1px 5px #e7e7e7;
          box-shadow: 1px 1px 5px #e7e7e7;
  border-radius: 5px;
  z-index: 9999;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review {
  max-width: 45%;
  -webkit-box-shadow: 1px 1px 7px solid #dfdfdf;
          box-shadow: 1px 1px 7px solid #dfdfdf;
  padding: 1rem .8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e7e7e7;
  margin: 1rem;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  margin-top: .4rem;
}

.review__title {
  margin: 0;
  color: orange;
  font-weight: 100;
}

.review__from {
  margin-top: .3rem;
  width: 100%;
  font-size: .8rem;
}

.review__icon {
  margin-right: .3rem;
  color: orange;
}

.review .review__description {
  margin-top: .8rem;
  line-height: 1.6;
  color: orange;
}

.reviews img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0;
}

.how-its-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-top: -12rem;
  padding: 4rem 0;
}

.how-its-work img {
  width: 8rem;
  height: 8rem;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products i {
  color: #ffa500;
}

.products__horizantal {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

.products__row--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__row--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1.3rem;
}

.product__row--2 img {
  max-height: 20rem;
}

.prodcut__two--content {
  padding: 1.4rem;
}

.producats__vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.product {
  padding: .5rem 1rem;
  margin: 0 1rem;
  overflow: hidden;
  position: relative;
  max-height: 23rem;
}

.product__content {
  z-index: 8888;
  position: relative;
  text-align: center;
}

.product__title {
  font-size: 1.4rem;
  color: orange;
}

.product--img {
  margin: 0 auto;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
}

.product__img {
  width: 100%;
  height: 100%;
  opacity: .4;
}

.product p {
  color: #fff;
  line-height: 1.4;
}

.product--row--one {
  width: 25%;
}

.product--vetical {
  margin-bottom: 2rem;
  padding: 2rem;
}

.product--vetical h4 {
  margin: 0;
  font-size: 1.2rem;
}

.product--vetical p {
  font-size: 1rem;
}

.about {
  padding: 5rem 0;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-content__img {
  width: 50%;
  background: url(../images/shopping-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-right: 3rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.about-content__img img {
  width: 100%;
  height: auto;
}

.about-content__text {
  width: 50%;
  padding-right: 5rem;
}

.about-content__text h2 {
  letter-spacing: 1px;
  color: #000;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.about-content__text p {
  line-height: 1.6;
  font-size: 1.1rem;
  color: orange;
}

.feature-prodact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfdfdf;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature-prodact__img {
  max-width: 40%;
  margin-right: 2rem;
}

.feature-prodact__img img {
  width: 100%;
  height: auto;
  display: block;
}

.feature-prodact__content {
  max-width: 55%;
  padding: 3rem 0;
}

.feature-prodact h5 {
  font-size: 1.3rem;
  color: #777;
  margin-bottom: 0;
  margin-top: .5rem;
}

.feature-prodact h3 {
  margin: 0;
  color: orange;
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.feature-prodact .free {
  font-size: .8rem;
  margin-top: .3rem;
}

.feature-prodact p {
  font-size: .9rem;
  margin-top: .7rem;
  line-height: 1.6;
}

.feature-prodact__list {
  padding: 0 0 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-prodact__item {
  margin: .5rem 1rem;
}

.feature-prodact__link {
  text-decoration: none;
  color: #000;
}

.feature-prodact .btns {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: block;
}

.feature-prodact .btns a:not(last-child) {
  margin-right: 1rem;
}

.subscribe {
  background-color: #bebebe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.541)), to(rgba(0, 0, 0, 0.541))), url(../../images/subscribe-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.541)), url(../../images/subscribe-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  background-position: center;
  padding: 8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__content {
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
  background-color: #dadada;
  height: 25rem;
  min-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.subscribe__form {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 4rem;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__title {
  margin-bottom: 1.2rem;
  color: orange;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subscribe__input {
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.603);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.603);
  padding: 1rem 2rem;
  min-width: 70%;
}

.footer {
  padding: 3rem 2rem;
  background-color: orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__list {
  list-style: none;
  min-width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */